<!DOCTYPE html>
<html>
<head>
    <title>Logger | Search</title>
    <link rel="stylesheet" type="text/css" href="<%= query.base_route %>/css/viewer.css">
</head>
<body>
    <div class="container">
        <h1>Search Results | Page <%= query.page %></h1>
        <div class='return'>
            <a href='<%= query.base_route %>'>Return to Search</a>
        </div>
        <div class="results">
            <% for (let i = 0; i < data.length; i++) { %>
            <div class="result-item">
                <div class='vpn-display <%- data[i].ipdata.vpn? "dirty":"clean" %>'></div>
                <div class="ip">
                    <form class="inline-search" action='<%= query.base_route %>/ip' method='post'>
                        <input type='hidden' name='ip' value='<%- data[i].ip %>'>
                        <button type='submit'><b><%- data[i].ip %></b></button>
                    </form>
                    <br><br>
                    <span>Provider: <%- data[i].ipdata.provider %></span><br>
                    <span>Location: <%- data[i].ipdata.city %>, <%- data[i].ipdata.country %></span><br>
                    <span>VPN: <%- data[i].ipdata.vpn? "Yes":"No" %></span>
                    <br><br>
                    <span>Search By:</span>
                    <form class="inline-search" action='<%= query.base_route %>/visitor' method='post'>
                        <input type='hidden' name='visitor' value='<%- data[i].visitorId %>'>
                        <button type='submit'>Visitor ID</button>
                    </form>
                    <span> | </span>
                    <form class="inline-search" action='<%= query.base_route %>/host' method='post'>
                        <input type='hidden' name='host' value='<%- data[i].host %>'>
                        <button type='submit'>Host</button>
                    </form>
                </div>
                <div class="details">
                    <span><b>User Agent:</b> <%- data[i].useragent %></span><br>
                    <span><%- data[i].method %> <%- data[i].url %> @ <%- data[i].host %></span><br>
                    <span><%- data[i].timestamp %></span>
                </div>
            </div>
            <% } %>
        </div>
        <div class='pagination'>
            <% if (query.page > 1) { %>
            <form action='<%= query.base_route %>/<%= query.type %>' method='post'>
                <input type='hidden' name='page' value='<%= query.page - 1 %>'>
                <input type='hidden' name='<%= query.type %>' value='<%= query.data %>'>
                <button type='submit'>Previous</button>
            </form>
            <% } %>
            <% if (query.more) { %>
            <form action='<%= query.base_route %>/<%= query.type %>' method='post'>
                <input type='hidden' name='page' value='<%= query.page + 1 %>'>
                <input type='hidden' name='<%= query.type %>' value='<%= query.data %>'>
                <button type='submit'>Next</button>
            </form>
            <% } %>
        </div>
    </div>
    <script src="<%= query.base_route %>/js/viewer.js"></script>
</body>
</html>
